
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.projects{
    width:100%;
    min-height:100vh;
    padding:120px 8% 80px;
    background:#0b1120;
    color:#fff;
}

/* Heading */

.projects-title{
    text-align:center;
    margin-bottom:70px;
}

.projects-title h1{
    font-size:48px;
    color:#38bdf8;
    margin-bottom:15px;
        margin-top: 5rem;
}

.projects-title p{
    max-width:650px;
    margin:auto;
    color:#94a3b8;
    line-height:1.8;
    font-size:18px;
}

/* Grid */

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap:35px;
}

/* Card */

.project-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    overflow:hidden;
    backdrop-filter:blur(20px);
    transition:.35s;
}

.project-card:hover{
    transform:translateY(-10px);
    border-color:#38bdf8;
    box-shadow:0 20px 45px rgba(37,99,235,.18);
}

/* Image */

.project-image{
    width:100%;
    height:240px;
    overflow:hidden;
}

.project-image img{
    width:100%;
    height:100%;
    object-fit:repeat;
    transition:.5s;
}

.project-card:hover .project-image img{
    transform:scale(1.08);
}

/* Content */

.project-content{
    padding:25px;
}

.project-content h2{
    margin-bottom:15px;
    font-size:28px;
}

.project-content p{
    color:#cbd5e1;
    line-height:1.8;
    margin-bottom:20px;
}

/* Tech Stack */

.tech-stack{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:25px;
}

.tech-stack span{
    padding:8px 16px;
    border-radius:30px;
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.08);
    transition:.3s;
    font-size:14px;
}

.tech-stack span:hover{
    background:#2563eb;
}

/* Buttons */

.project-buttons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.project-buttons a{
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px 20px;
    border-radius:30px;
    transition:.3s;
    font-weight:500;
}

.demo-btn{
    background:linear-gradient(90deg,#2563eb,#7c3aed);
    color:#fff;
}

.demo-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(37,99,235,.4);
}

.github-btn{
    border:2px solid #38bdf8;
    color:#38bdf8;
}

.github-btn:hover{
    background:#38bdf8;
    color:#000;
}

/* Responsive */

@media(max-width:900px){

.projects-title h1{
    font-size:38px;
}

.projects-title p{
    font-size:16px;
}

.project-grid{
    grid-template-columns:1fr;
}

.project-image{
    height:210px;
}

.project-content h2{
    font-size:24px;
}

.project-buttons{
    flex-direction:column;
}

.project-buttons a{
    justify-content:center;
}

}